<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h1>サインイン</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: "input" %>
          </div>
          
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "input" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",class: "input" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "input"%>
          </div>

          <div class="actions">
            <%= f.submit "Signup" ,class: "button is-success" %>
          </div>
        <% end %>
      </div>
    </div>
   </div>
</section>

